* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  list-style: none;
}@font-face {font-family: BanderaPro;font-display: swap;src: url("../assets/fonts/BanderaPro-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #6B2870;
  font-family: "BanderaPro", sans-serif;
  font-size: 1rem;
  background-color: #6B2870;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  width: 100%;
  max-width: 90rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

.ibg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}/* Generated by vite-plugin-svg-spritemap */
.video-youtube {
  width: 100%;
}
.video-youtube__body {
  position: relative;
  z-index: 2;
  background-color: #000;
  aspect-ratio: 850/479;
  overflow: hidden;
}
.video-youtube__body {
  outline: 0.625rem solid #fff;
  box-shadow: 1.25rem 1.25rem 0 0 #6b2870;
}
.video-youtube__body iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 850/479;
}
.video-youtube__button {
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
  aspect-ratio: 850/479;
}
.video-youtube__button::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/img/icons/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.45s ease;
}/* Generated by vite-plugin-svg-spritemap */
.--fullpage-init body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

[data-fls-fullpage] {
  min-height: 100svh;
}
.--fullpage-init [data-fls-fullpage] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden;
}

.--fullpage-switching [data-fls-fullpage-section] {
  touch-action: none;
}
.--fullpage-init [data-fls-fullpage-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.--fullpage-init .slider-mode [data-fls-fullpage-section], .--fullpage-init .cards-mode [data-fls-fullpage-section] {
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}
.--fullpage-init .fade-mode [data-fls-fullpage-section] {
  transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
}

.--fullpage-bullets {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 0.9375rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 10;
  gap: 0.625rem;
}
.--fullpage-bullets .--fullpage-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: 50%;
  background-color: #79232F;
  box-shadow: 0 0 0.9375rem #fff, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #79232F;
  transition: all 0.45s ease;
}
.--fullpage-bullets .--fullpage-bullet-active {
  opacity: 1;
  background-color: #FCDA01;
  transform: scale(1.25);
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.section-1__banner-top svg, .section-1__banner-bottom svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-2__title::before, .section-3__title::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-main, .section-2__title::before, .section-3__title::before, .section-4, .section-4__footer span {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  position: fixed;
  z-index: 10;
  top: 0.625rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.logo img {
  width: 100%;
  height: auto;
}

.section-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-main {
  position: absolute;
  z-index: -1;
  inset: 0;
}
.bg-main img {
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

[data-fls-loaded] .section {
  visibility: visible !important;
}

.section-1__wrapper {
  display: flex;
  align-items: center;
}
.section-1__container {
  position: relative;
  height: 100%;
  max-height: 46.5rem;
}
.section-1__sanych {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  transform: translate(9%, 10%);
  max-width: 40.5rem;
}
.section-1__sanych img {
  opacity: 0;
  transform: translate(0, 40%);
}
[data-fls-loaded] .section-1__sanych img {
  transition: opacity 0.3s ease, transform 0.45s ease;
  opacity: 1;
  transform: translate(0, 0%);
}
.section-1__banner-top {
  position: absolute;
  max-width: 56.6875rem;
}
.section-1__banner-top svg {
  object-fit: contain;
  opacity: 0;
  transform: scale(0.6);
}
[data-fls-loaded] .section-1__banner-top svg {
  transition: opacity 0.3s ease, transform 0.45s ease;
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.3s;
}
.section-1__banner-bottom {
  position: absolute;
  max-width: 59.375rem;
}
.section-1__banner-bottom svg {
  object-fit: contain;
  opacity: 0;
  transform: translate(0, 100%);
}
[data-fls-loaded] .section-1__banner-bottom svg {
  transition: opacity 0.3s ease, transform 0.45s ease;
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.4s;
}
.section-1__packs {
  position: absolute;
  display: flex;
  max-width: 34.1875rem;
}
.section-1__pack--1 {
  transform: translate(5%, 9%) rotate(-13deg);
}
.section-1__pack--1 img {
  opacity: 0;
  transform: translate(70%, 0%);
}
[data-fls-loaded] .section-1__pack--1 img {
  transition: opacity 0.3s ease, transform 0.75s cubic-bezier(0.49, 1.57, 0.37, 0.82);
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.1s;
}
.section-1__pack--2 {
  transform: translate(0%, 0%) rotate(0deg);
}
.section-1__pack--2 img {
  opacity: 0;
  transform: translate(80%, 0%);
}
[data-fls-loaded] .section-1__pack--2 img {
  transition: opacity 0.3s ease, transform 0.95s cubic-bezier(0.49, 1.57, 0.37, 0.82);
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.13s;
}

.section-2__wrapper {
  display: flex;
  align-items: center;
}
.section-2__container {
  height: 100%;
  max-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-2__body {
  position: relative;
  margin-top: -18vh;
}
.section-2__seed {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%) rotate(-30deg);
}
.section-2__seed img {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s ease 0.3s, transform 0.65s ease 0.3s;
}
.--fullpage-active-section .section-2__seed img {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}
.section-2__title {
  position: relative;
  z-index: 2;
  text-align: center;
  line-height: 1.2;
}
.section-2__title {
  width: 100%;
  opacity: 0;
  transform: translate(70%, 0%);
  transition: opacity 0.2s ease 0.3s, transform 0.75s cubic-bezier(0.49, 1.57, 0.37, 0.82) 0.3s;
}
.--fullpage-active-section .section-2__title {
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.2s;
}
.section-2__title::before {
  content: "";
  z-index: -1;
  background-size: contain;
  width: 300%;
  aspect-ratio: 766/288;
  transform: translate(-50%, -40%) rotate(0deg);
  background-image: url("../assets/img/banners/banner-3.svg");
}
.section-2__cat {
  position: absolute;
  z-index: 3;
  top: 50%;
  right: -50%;
  transform: translate(-50%, 50%);
  width: 60vw;
  max-width: 38.5625rem;
}
.section-2__cat img {
  opacity: 0;
  transform: translate(100%, 0%);
  transition: opacity 0.2s ease 0.3s, transform 0.45s ease 0.3s;
}
.--fullpage-active-section .section-2__cat img {
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.23s;
}

.section-3__wrapper {
  display: flex;
  align-items: center;
}
.section-3__body {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.625rem;
  height: 100%;
  align-items: center;
  max-width: 30rem;
  margin-inline: auto;
}
.section-3__pack {
  max-width: 21.25rem;
  position: relative;
  z-index: 3;
}
.section-3__pack img {
  opacity: 0;
  transition: opacity 0.2s ease 0.3s, transform 0.75s cubic-bezier(0.49, 1.57, 0.37, 0.82) 0.3s;
}
.--fullpage-active-section .section-3__pack img {
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.55s;
}
.section-3__pack--1 {
  order: 1;
  transform: rotate(-3deg);
}
.section-3__pack--1 img {
  transform: translate(-100%, 0%);
}
.section-3__pack--2 {
  order: 2;
}
.section-3__pack--2 img {
  transform: translate(100%, 0%);
}
.section-3__head {
  order: 3;
  position: relative;
}
.section-3__title {
  color: #ffffff;
  text-align: center;
  position: relative;
  line-height: 1.2;
}
.section-3__title {
  opacity: 0;
  transform: translate(0, 50%);
  transition: opacity 0.2s ease 0.3s, transform 0.55s ease 0.3s;
}
.--fullpage-active-section .section-3__title {
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.3s;
}
.section-3__title::before {
  content: "";
  z-index: -1;
  background-size: contain;
  width: 190%;
  aspect-ratio: 692/236;
  transform: translate(-50%, -40%) rotate(0deg);
  background-image: url("../assets/img/banners/banner-4.svg");
}
.section-3__cat {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 50vw;
}
.section-3__cat img {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s ease 0.3s, transform 0.55s ease 0.3s;
}
.--fullpage-active-section .section-3__cat img {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.75s;
}
.section-4__wrapper {
  display: flex;
  align-items: center;
}
.section-4__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 8.75rem;
  padding-bottom: 1.875rem;
  height: 100%;
  max-height: 50rem;
  max-width: 31.25rem;
  opacity: 0;
  transform: translate(0, 50%);
  transition: opacity 0.2s ease 0.3s, transform 0.55s ease 0.3s;
}
.--fullpage-active-section .section-4__container {
  opacity: 1;
  transform: translate(0, 0%);
  transition-delay: 0.3s;
}
.section-4__body {
  flex: 1;
  width: 100%;
  align-content: center;
  padding-inline: 1.25rem;
  margin-bottom: 2.5rem;
}
.section-4__body .video-youtube__body {
  width: 100%;
}
.section-4__footer {
  display: grid;
  grid-template-columns: auto 20% auto;
  align-items: center;
  max-width: inherit;
  gap: 0.625rem;
  width: 100%;
}
.section-4__footer span {
  display: inline-block;
  background-size: contain;
  background-image: url("../assets/img/icons/arr-mb.svg");
  aspect-ratio: 49/13;
}
.section-4__cto {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.2;
}
.section-4__social {
  justify-self: center;
}
.section-4__link {
  max-width: 3.75rem;
  width: 100%;
}
.section-4__link svg {
  width: 100%;
  height: auto;
  border-radius: 0.9375rem;
  background-color: #6B2870;
  transition: background-color 0.3s ease;
}
.section-4__link svg path {
  transition: fill 0.3s ease;
}
.section-4__link:active svg {
  background-color: #fff;
}
.section-4__link:active svg path {
  fill: #6B2870;
}
@media (orientation: landscape) and (max-width: 75.06125em) {
  .section-1__sanych {
    transform: translate(-8%, 10%);
  }
}
@media (max-width: 46.93625em) {
  .section-2__cat {
    width: 80vw;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translate(-50%, 38%);
  }
  .section-3__pack--1 {
    right: -5%;
    z-index: 3;
  }
  .section-3__pack--2 {
    left: -5%;
  }
  .section-3__head {
    grid-column: 1/3;
  }
}
@media (max-width: 37.56125em) {
  .section-1__sanych {
    width: 75vw !important;
  }
  .section-1__banner-top {
    transform: translate(-62%, 30%) !important;
  }
  .section-1__banner-bottom {
    transform: translate(-61%, -60%) !important;
  }
  .section-1__packs {
    width: 65vw !important;
    transform: translate(-50%, 45%) !important;
  }
}
@media (max-width: 30.06125em) and (min-width: 23.49875em) {
  .section-3__cat {
    width: 65vw;
  }
}
@media (max-width: 30.06125em) {
  .bg-main {
    background-image: url("../assets/img/bg/bg-main-2-mb.webp");
    opacity: 0;
  }
  [data-fls-loaded] .bg-main {
    opacity: 1;
  }
  .bg-main img {
    object-position: top;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .--fullpage-section-0 .bg-main img {
    opacity: 1;
  }
  .section-3__container {
    margin-top: -15vh;
  }
  .section-3__body {
    padding-inline: 1.25rem;
  }
  .section-4 {
    background-image: url("../assets/img/bg/bg-main-3-mb.webp");
  }
  .section-4__footer span {
    align-self: self-start;
    position: relative;
    left: -15%;
  }
}
@media (max-width: 23.49875em) {
  .section-1__sanych {
    width: 65vw !important;
    transform: translate(-50%, -45%) !important;
  }
  .section-1__banner-top {
    width: 100vw;
  }
  .section-1__banner-bottom {
    width: 100vw !important;
    transform: translate(-61%, -60%) !important;
  }
  .section-1__packs {
    transform: translate(-50%, 25%) !important;
  }
}
@media (max-width: 20em) {
  .video-youtube__body {
    border-radius: 1.875rem;
  }
  .video-youtube__button::before {
    width: 3.4375rem;
  }
  .video-youtube__button::before {
    height: 3.4375rem;
  }
  .logo {
    max-width: 11.25rem;
  }
  .section-2__seed {
    max-width: 5rem;
  }
  .section-2__title {
    font-size: 1.75rem;
  }
  .section-2__title {
    max-width: 16.875rem;
  }
  .section-3__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 64.06125em) and (min-height: 81.31125em) {
  .section-1__container {
    max-height: 62.5rem;
  }
}
@media (min-width: 84.43625em) and (max-height: 47.56125em) {
  .section-1__banner-top {
    width: 60vw;
  }
  .section-1__banner-bottom {
    width: 62vw;
  }
  .section-1__packs {
    width: 35vw;
  }
}
@media (min-width: 20em) and (max-width: 91.875em) {
  .video-youtube__body {
    border-radius: clamp( 1.875rem , 1.52717391304375rem  +  1.7391304348vw , 3.125rem );
  }
  .video-youtube__button::before {
    width: clamp( 3.4375rem , 2.30706521739375rem  +  5.652173913vw , 7.5rem );
  }
  .video-youtube__button::before {
    height: clamp( 3.4375rem , 2.30706521739375rem  +  5.652173913vw , 7.5rem );
  }
  .logo {
    max-width: clamp( 11.25rem , 9.3717391304375rem  +  9.3913043478vw , 18rem );
  }
  .section-2__seed {
    max-width: clamp( 5rem , 3.26086956521875rem  +  8.6956521739vw , 11.25rem );
  }
  .section-2__title {
    font-size: clamp( 1.75rem , 1.61086956521875rem  +  0.6956521739vw , 2.25rem );
  }
  .section-2__title {
    max-width: clamp( 16.875rem , 13.74456521739375rem  +  15.652173913vw , 28.125rem );
  }
  .section-3__title {
    font-size: clamp( 1.75rem , 1.61086956521875rem  +  0.6956521739vw , 2.25rem );
  }
}
@media (min-width: 23.49875em) {
  .logo {
    top: 1.875rem;
  }
}
@media (min-width: 30.06125em) {
  .--fullpage-bullets {
    right: 2.5rem;
  }
  .bg-main::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(0.625rem);
    background: rgba(62, 105, 39, 0.01);
    opacity: 0;
    transition: opacity 0.65s ease;
  }
  .--fullpage-section-1 .bg-main::after {
    opacity: 1;
  }
  .section-1__container {
    max-height: 52.75rem;
  }
  .section-2__body {
    margin-top: -12vh;
  }
  .section-4__body {
    padding-inline: 0rem;
  }
  .section-4__footer {
    gap: 1.25rem;
    grid-template-columns: auto 27% auto;
  }
  .section-4__footer span {
    background-image: url("../assets/img/icons/arr-pc.svg");
    aspect-ratio: 209/16;
  }
}
@media (min-width: 46.93625em) {
  .section-2__cat {
    width: 43vw;
  }
  .section-3__container {
    height: 100%;
    max-height: 50rem;
  }
  .section-3__body {
    grid-template-columns: auto auto auto;
  }
  .section-3__body {
    max-width: 68.75rem;
  }
  .section-3__pack--2 {
    order: 3;
  }
  .section-3__head {
    order: 2;
  }
  .section-3__cat {
    max-width: 24.375rem;
    width: 27vw;
  }
}
@media (min-width: 48.06125em) {
  .section-4__container {
    max-width: 47.5rem;
  }
}
@media (min-width: 51.31125em) {
  .section-2__body {
    left: -5%;
  }
  .section-2__seed {
    top: 0;
    left: 0;
    transform: translate(-50%, 50%) rotate(-30deg);
  }
  .section-2__title::before {
    width: 170%;
    aspect-ratio: 766/288;
    transform: translate(-39%, -36%) rotate(4deg);
    background-image: url("../assets/img/banners/banner-2.svg");
  }
  .section-2__cat {
    top: 50%;
    right: -50%;
    transform: translate(49%, -27%);
  }
  .section-3__head {
    margin-top: -15vh;
  }
  .section-3__title::before {
    width: 146%;
    aspect-ratio: 692/266;
  }
}
@media (min-width: 91.875em) {
  .video-youtube__body {
    border-radius: 3.125rem;
  }
  .video-youtube__button::before {
    width: 7.5rem;
  }
  .video-youtube__button::before {
    height: 7.5rem;
  }
  .logo {
    max-width: 18rem;
  }
  .section-2__seed {
    max-width: 11.25rem;
  }
  .section-2__title {
    font-size: 2.25rem;
  }
  .section-2__title {
    max-width: 28.125rem;
  }
  .section-3__title {
    font-size: 2.25rem;
  }
}
@media (any-hover: hover) {
  .video-youtube__button:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
  }
  .--fullpage-bullets .--fullpage-bullet:hover {
    opacity: 1;
  }
  .section-4__link:hover svg {
    background-color: #fff;
  }
  .section-4__link:hover svg path {
    fill: #6B2870;
  }
}
@media (orientation: landscape) {
  .section-1__sanych {
    width: 45vw;
  }
  .section-1__banner-top {
    z-index: 3;
    top: 50%;
    right: 0;
    transform: translate(-9%, -57%);
    width: 63vw;
  }
  .section-1__banner-bottom {
    z-index: 1;
    right: 0;
    bottom: 50%;
    transform: translate(-1%, 111%);
    width: 66vw;
  }
  .section-1__packs {
    z-index: 2;
    width: 38vw;
    top: 50%;
    right: 0;
    transform: translate(-32%, -35%);
  }
}
@media (orientation: portrait) {
  .section-1__sanych {
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    width: 60vw;
  }
  .section-1__banner-top {
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-62%, 0%);
    width: 115vw;
  }
  .section-1__banner-bottom {
    z-index: 3;
    left: 50%;
    top: 100%;
    transform: translate(-61%, -35%);
    width: 120vw;
  }
  .section-1__packs {
    z-index: 4;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }
}