.logo {
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  @include adaptiveValue("max-width", 288, 180);

  @media (min-width:toEm($mobileXS)) {
    top: 30px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.section-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-main {
  position: absolute;
  z-index: -1;
  inset: 0;

  &::after {
    @media (min-width:toEm($mobileSmall)) {
      content: '';
      position: absolute;
      inset: 0;
      backdrop-filter: blur(10px);
      background: rgba(62, 105, 39, 0.01);
      opacity: 0;
      transition: opacity .65s ease;

      .--fullpage-section-1 & {
        opacity: 1;
      }
    }
  }

  @extend %bgImage;

  @media (max-width:toEm($mobileSmall)) {
    background-image: url("@img/bg/bg-main-2-mb.jpg");
    opacity: 0;

    [data-fls-loaded] & {
      opacity: 1;
    }
  }

  img {
    object-fit: cover;

    @media (max-width:toEm($mobileSmall)) {
      object-position: top;
      transition: opacity .3s ease;
      opacity: 0;

      .--fullpage-section-0 & {
        opacity: 1;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}


.section {
  [data-fls-loaded] & {
    visibility: visible !important;
  }
}


.section-1 {

  // .section-1__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
  }

  // .section-1__container
  &__container {
    position: relative;
    height: 100%;
    max-height: 744px;

    @media (min-width: toEm($mobileSmall)) {
      max-height: 844px;
    }

    @media (max-width: toEm(1024.98)) and (min-height: toEm(1300.98)) {
      max-height: 1000px;
    }
  }

  // .section-1__sanych
  &__sanych {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    transform: translate(9%, 10%);
    max-width: 648px;

    @media (orientation: landscape) and (max-width: toEm(1200.98)) {
      transform: translate(-8%, 10%);
    }

    @media (orientation: landscape) {
      width: 45vw;

    }

    @media (orientation: portrait) {
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -42%);
      width: 60vw;
    }

    @media (min-width:toEm(600.98)) {}

    @media (max-width: toEm(600.98)) {
      width: 75vw !important;
    }

    @media (max-width: toEm($mobileXS)) {
      width: 65vw !important;
      transform: translate(-50%, -45%) !important;
    }

    img {
      opacity: 0;
      transform: translate(0, 40%);

      [data-fls-loaded] & {
        transition: opacity .3s ease, transform .45s ease;
        opacity: 1;
        transform: translate(0, 0%);
      }
    }
  }

  // .section-1__banner-top
  &__banner-top {
    position: absolute;
    z-index: 1;
    max-width: 907px;

    @media (min-width:toEm(1350.98)) and (max-height: toEm(760.98)) {
      width: 60vw;
    }

    @media (orientation: landscape) {
      top: 50%;
      right: 0;
      transform: translate(-9%, -57%);
      width: 63vw;
    }

    @media (orientation: portrait) {
      top: 0;
      left: 50%;
      transform: translate(-62%, 0%);
      width: 115vw;
    }

    @media (min-width:toEm(600.98)) {}

    @media (max-width: toEm(600.98)) {
      transform: translate(-62%, 30%) !important;
    }

    @media (max-width:toEm($mobileXS)) {
      width: 100vw;
    }

    svg {
      @extend %ibg;
      object-fit: contain;

      opacity: 0;
      transform: scale(0.6);
      
      [data-fls-loaded] & {
        transition: opacity .3s ease, transform .45s ease;
        opacity: 1;
        transform: scale(1);
        transition-delay: 0.3s;
      }
    }
  }

  // .section-1__banner-bottom
  &__banner-bottom {
    position: absolute;
    max-width: 950px;

    @media (min-width:toEm(1350.98)) and (max-height: toEm(760.98)) {
      width: 62vw;
    }

    @media (orientation: landscape) {
      z-index: 1;
      right: 0;
      bottom: 50%;
      transform: translate(-1%, 111%);
      width: 66vw;
    }

    @media (orientation: portrait) {
      z-index: 3;
      left: 50%;
      top: 100%;
      transform: translate(-61%, -35%);
      width: 120vw;
    }

    @media (min-width:toEm(600.98)) {}

    @media (max-width: toEm(600.98)) {
      transform: translate(-61%, -60%) !important;
    }

    @media (max-width:toEm($mobileXS)) {
      width: 100vw !important;
      transform: translate(-61%, -60%) !important;
    }

    svg {
      @extend %ibg;
      object-fit: contain;

       opacity: 0;
      transform: translate(0,100%);
      
      [data-fls-loaded] & {
        transition: opacity .3s ease, transform .45s ease;
        opacity: 1;
        transform: translate(0, 0%);
        transition-delay: 0.4s;
      }
    }
  }

  // .section-1__packs
  &__packs {
    position: absolute;
    display: flex;
    max-width: 547px;


    @media (min-width:toEm(1350.98)) and (max-height: toEm(760.98)) {
      width: 35vw;
    }

    @media (orientation: landscape) {
      z-index: 2;
      width: 38vw;
      top: 50%;
      right: 0;
      transform: translate(-32%, -35%);
    }

    @media (orientation: portrait) {
      z-index: 4;
      width: 50vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
    }

    @media (min-width:toEm(600.98)) {}

    @media (max-width: toEm(600.98)) {
      width: 65vw !important;
      transform: translate(-50%, 45%) !important;
    }

    @media (max-width:toEm($mobileXS)) {
      transform: translate(-50%, 25%) !important;
    }
  }

  // .section-1__pack
  &__pack {}

  // .section-1__pack--1
  &__pack--1 {
    transform: translate(5%, 9%) rotate(-13deg);
    img {
       opacity: 0;
      transform: translate(70%,0%);
      
      [data-fls-loaded] & {
        transition: opacity .3s ease, transform .75s cubic-bezier(.49,1.57,.37,.82);
        opacity: 1;
        transform: translate(0, 0%);
        transition-delay: 0.1s;
      }
    }
  }

  // .section-1__pack--2
  &__pack--2 {
    transform: translate(0%, 0%) rotate(0deg);
    img {
       opacity: 0;
      transform: translate(80%,0%);
      
      [data-fls-loaded] & {
        transition: opacity .3s ease, transform .95s cubic-bezier(.49,1.57,.37,.82);
        opacity: 1;
        transform: translate(0, 0%);
        transition-delay: 0.13s;
      }
    }
  }


}

.section-2 {

  // .section-2__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
  }

  // .section-2__container
  &__container {
    height: 100%;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .section-2__body
  &__body {
    position: relative;
    margin-top: -18vh;

    @media (min-width:toEm(820.98)) {
      left: -5%;
    }

    @media (min-width:toEm($mobileSmall)) {
      margin-top: -12vh;
    }
  }

  // .section-2__seed
  &__seed {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%) rotate(-30deg);
    @include adaptiveValue("max-width", 180, 80);

     img {
      opacity: 0;
      transform: scale(0);
      transition: opacity .2s ease .3s, transform .65s ease .3s;
      
      .--fullpage-active-section & {
        opacity: 1;
        transform: scale(1);
        transition-delay: 0.6s;
      }
      .--fullpage-next-section & {
      }
    }

    @media (min-width:toEm(820.98)) {
      top: 0;
      left: 0;
      transform: translate(-50%, 50%) rotate(-30deg);
    }
  }

  // .section-2__title
  &__title {
    position: relative;
    z-index: 2;
    text-align: center;
    line-height: 1.2;
    @include adaptiveValue("font-size", 36, 28);
    @include adaptiveValue("max-width", 450, 270);
    width: 100%;

     opacity: 0;
      transform: translate(70%,0%);
      transition: opacity .2s ease .3s, transform .75s cubic-bezier(.49,1.57,.37,.82) .3s;
      
      .--fullpage-active-section & {
        opacity: 1;
        transform: translate(0, 0%);
        transition-delay: 0.2s;
      }

    &::before {
      content: '';
      @extend %absoluteCenter;
      z-index: -1;
      @extend %bgImage;
      background-size: contain;
      width: 300%;
      aspect-ratio: 766/288;
      transform: translate(-50%, -40%) rotate(0deg);
      background-image: url("@img/banners/banner-3.svg");

      @media (min-width:toEm(820.98)) {
        width: 170%;
        aspect-ratio: 766/288;
        transform: translate(-39%, -36%) rotate(4deg);
        background-image: url("@img/banners/banner-2.svg");
      }
    }
  }

  // .section-2__cat
  &__cat {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: -50%;
    transform: translate(-50%, 50%);
    width: 60vw;
    max-width: 617px;

    img {
        opacity: 0;
      transform: translate(100%,0%);
      transition: opacity .2s ease .3s, transform .45s ease .3s;
      
      .--fullpage-active-section & {
        opacity: 1;
        transform: translate(0, 0%);
        transition-delay: 0.23s;
      }
    }

    @media (min-width:toEm(820.98)) {
      top: 50%;
      right: -50%;
      transform: translate(49%, -27%);
    }

    @media (min-width:toEm(750.98)) {
      width: 43vw;
    }

    @media (max-width: toEm(750.98)) {
      width: 80vw;
      top: 50%;
      right: auto;
      left: 50%;
      transform: translate(-50%, 38%);
    }
  }
}

.section-3 {

  // .section-3__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
  }

  // .section-3__container
  &__container {
    @media (min-width:toEm(750.98)) {
      height: 100%;
      max-height: 800px;
    }

    @media (max-width: toEm($mobileSmall)) {
      margin-top: -15vh;
    }
  }

  // .section-3__body
  &__body {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    height: 100%;
    align-items: center;
    max-width: 480px;
    margin-inline: auto;

    @media (min-width:toEm(750.98)) {
      grid-template-columns: auto auto auto;
    }

    @media (min-width:toEm(750.98)) {
      max-width: 1100px;
    }

    @media (max-width:toEm($mobileSmall)) {
      padding-inline: 20px;
    }
  }

  // .section-3__pack
  &__pack {
    max-width: 340px;
    position: relative;
    z-index: 3;
    img {
      opacity: 0;
      transition: opacity .2s ease .3s, transform .75s cubic-bezier(.49,1.57,.37,.82) .3s;
       .--fullpage-active-section & {
        opacity: 1;
        transform: translate(0, 0%);
        transition-delay: 0.55s;
      }
    }
  }

  // .section-3__pack--1
  &__pack--1 {
    order: 1;
    transform: rotate(-3deg);

    @media (max-width: toEm(750.98)) {
      right: -5%;
      z-index: 3;
    }

    img {
      transform: translate(-100%,0%);
    }
  }

  // .section-3__pack--2
  &__pack--2 {
    order: 2;

    @media (min-width:toEm(750.98)) {
      order: 3;
    }

    @media (max-width: toEm(750.98)) {
      left: -5%;
    }
    img {
       transform: translate(100%,0%);
    }
  }

  // .section-3__head
  &__head {
    order: 3;
    position: relative;

    @media (min-width:toEm(820.98)) {
      margin-top: -15vh;
    }

    @media (min-width:toEm(750.98)) {
      order: 2;
    }

    @media (max-width: toEm(750.98)) {
      grid-column: 1/3;
    }
  }

  // .section-3__title
  &__title {
    color: #ffffff;
    text-align: center;
    position: relative;
    line-height: 1.2;
    @include adaptiveValue("font-size", 36, 28);

     opacity: 0;
      transform: translate(0,50%);
      transition: opacity .2s ease .3s, transform .55s ease .3s;
      .--fullpage-active-section & {
        opacity: 1;
        transform: translate(0,0%);
        transition-delay: 0.3s;
      }

    @media (max-width: toEm(750.98)) {
      // max-width: 480px;
      // margin-inline: auto;
    }

    &::before {
      content: '';
      @extend %absoluteCenter;
      z-index: -1;
      @extend %bgImage;
      background-size: contain;
      width: 190%;
      aspect-ratio: 692/236;
      transform: translate(-50%, -40%) rotate(0deg);
      background-image: url("@img/banners/banner-4.svg");

      @media (min-width:toEm(820.98)) {
        width: 146%;
        aspect-ratio: 692/266;
      }
    }
  }

  // .section-3__cat
  &__cat {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50vw;

    @media (min-width:toEm(750.98)) {
      max-width: 390px;
      width: 27vw;
    }

    @media (max-width:toEm($mobileSmall)) and (min-width:toEm($mobileXS)) {
      width: 65vw;
    }

    img {
      opacity: 0;
      transform: scale(0);
      transition: opacity .2s ease .3s, transform .55s ease .3s;
       .--fullpage-active-section & {
        opacity: 1;
        transform: scale(1);
        transition-delay: 0.75s;
      }
    }
  }


}

.section-4 {
  @extend %bgImage;

  @media (max-width:toEm($mobileSmall)) {
    background-image: url("@img/bg/bg-main-3-mb.jpg");
  }

  &__wrapper {
    display: flex;
    align-items: center;

  }

  // .section-4__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 30px;
    height: 100%;
    max-height: 800px;

    max-width: 500px;


    opacity: 0;
      transform: translate(0,50%);
      transition: opacity .2s ease .3s, transform .55s ease .3s;
       .--fullpage-active-section & {
        opacity: 1;
        transform: translate(0,0%);
        transition-delay: 0.3s;
      }

    @media (min-width:toEm($mobile)) {
      max-width: 760px;
    }
  }

  // .section-4__body
  &__body {
    flex: 1;
    width: 100%;
    align-content: center;
    padding-inline: 20px;
    margin-bottom: 40px;

    @media (min-width:toEm($mobileSmall)) {
      padding-inline: 0px;
    }

    .video-youtube__body {
      width: 100%;
    }

    // .video-youtube__button
  }

  // .section-4__footer
  &__footer {
    display: grid;
    grid-template-columns: auto 20% auto;
    align-items: center;
    max-width: inherit;
    gap: 10px;
    width: 100%;

    @media (min-width:toEm($mobileSmall)) {
      gap: 20px;
      grid-template-columns: auto 27% auto;
    }

    span {
      display: inline-block;
      @extend %bgImage;
      background-size: contain;
      background-image: url("@img/icons/arr-mb.svg");
      aspect-ratio: 49/13;

      @media (min-width:toEm($mobileSmall)) {
        background-image: url("@img/icons/arr-pc.svg");
        aspect-ratio: 209/16;
      }

      @media (max-width:toEm($mobileSmall)) {
        align-self: self-start;
        position: relative;
        left: -15%;
      }
    }
  }

  // .section-4__cto
  &__cto {
    color: #fff;
    font-size: 26px;
    line-height: 1.2;
  }

  // .section-4__social
  &__social {
    justify-self: center;
  }

  // .section-4__link
  &__link {
    max-width: 60px;
    width: 100%;

    svg {
      width: 100%;
      height: auto;
      border-radius: 15px;
      background-color: $mainColor;
      transition: background-color .3s ease;

      path {
        transition: fill .3s ease;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          background-color: #fff;

          path {
            fill: $mainColor;
          }
        }
      }
    }

    &:active {
      svg {
        background-color: #fff;

        path {
          fill: $mainColor;
        }
      }

    }
  }
}