<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<div class="logo">
	<img src="@img/icons/logo.png" width="288" height="114" alt="лого СанСанич">
</div>
<main data-fls-fullpage data-fls-fullpage-effect="fade" data-fls-fullpage-bullets class="page page--home">
	<div class="bg-main">
		<picture>
			<source srcset="@img/bg/bg-main-pc.jpg" media="(min-width: 30.062em)" type="image/webp">
			<source srcset="@img/bg/bg-main-mb.jpg" type="image/webp">
			<img class="ibg" fetchpriority="high" src="@img/bg/bg-main-pc.jpg" width="934" height="996" alt="Зелена поляна на задньому фоні стара хата, на передньому ряд сонячників, яскраво-голубе небо з хмарками">
		</picture>
	</div>
	<section data-fls-fullpage-section class="section section-1">
		<div class="section-wrapper section-1__wrapper">
			<div class="section-1__container">
				<div class="section-1__sanych">
					<picture>
						<source srcset="@img/sanych-pc.png" media="(min-width: 30.062em)" type="image/webp">
						<source srcset="@img/sanych-mb.png" type="image/webp">
						<img class="ibg"fetchpriority="high" src="@img/sanych-pc.png" width="934" height="996" alt="Сан Санич у синьому піджаку посміхаючись закручує свої вуса">
					</picture>
				</div>
				<div class="section-1__banner-top">
					<h1 class="sr-only">Експерт з насіння і НОВИНОК!</h1>
					<svg class="banner-text" viewBox="0 0 863 534" aria-hidden="true" focusable="false">
						<g transform="translate(0,0) scale(1)">
							<image class="banner-bg" href="@img/banners/banner-1.svg" x="0" y="0" width="848" height="519" aria-hidden="true" />
						</g>

						<defs>
							<path id="curvePath1" d="M95 255 C 255 100, 635 95, 815 190" fill="none" />
							<path id="curvePath2" d="M95 255 C 255 100, 635 95, 815 190" transform="translate(0,70)" fill="none" />
						</defs>

						<g id="text-layer" transform="translate(60,-30)">
							<g class="text-group-1" transform="rotate(-6,430,180)" role="presentation">
								<text class="line-1" font-size="49" font-weight="700" letter-spacing="0.6px" fill="#5F2675">
									<textPath href="#curvePath1" startOffset="52%" text-anchor="middle" spacing="auto" method="align">
										Експерт з насіння
									</textPath>
								</text>
							</g>

							<g class="text-group-2" transform="rotate(-4,430,180)" role="presentation">
								<text class="line-2" font-size="55" font-weight="700" letter-spacing="0.6px" fill="#5F2675">
									<textPath href="#curvePath2" startOffset="53%" text-anchor="middle">
										і НОВИНОК!
									</textPath>
								</text>
							</g>
						</g>
					</svg>
				</div>
				<div class="section-1__packs">
					<div class="section-1__pack section-1__pack--1">
						<picture>
							<source srcset="@img/packs/pack-1-pc.png" media="(min-width: 30.062em)" type="image/webp">
							<source srcset="@img/packs/pack-1-mb.png" type="image/webp">
							<img fetchpriority="high" class="ibg" src="@img/packs/pack-1-pc.png" width="934" height="996" alt="Пачка насіння сонячника">
						</picture>
					</div>
					<div class="section-1__pack section-1__pack--2">
						<picture>
							<source srcset="@img/packs/pack-2-pc.png" media="(min-width: 30.062em)" type="image/webp">
							<source srcset="@img/packs/pack-2-mb.png" type="image/webp">
							<img fetchpriority="high" class="ibg" src="@img/packs/pack-2-pc.png" width="934" height="996" alt="Пачка насіння сонячника солоне">
						</picture>
					</div>
				</div>
				<div class="section-1__banner-bottom">
					<svg viewBox="0 0 863 534" xmlns="http://www.w3.org/2000/svg" class="banner-text" aria-hidden="true">
						<g transform="translate(0,0) scale(1)">
							<image class="banner-bg" href="@img/banners/banner-1-2.svg" x="0" y="0" width="848" height="519" aria-hidden="true" />
						</g>
						<defs>
							<path id="curvePath1"
								d="M377.103 65.4538C113.36 164.905 23.4634 390.374 1.2709 502.007C-1.70882 516.996 15.9304 524.458 26.2139 513.153C98.2294 433.989 285.235 246.909 472.275 212.621C651.478 179.769 777.256 185.457 828.734 190.318C840.637 191.442 850.433 179.904 846.86 168.494L797.917 12.2135C795.678 5.06117 788.817 0.42788 781.334 0.857913C704.749 5.25943 546.296 1.65466 377.103 65.4538Z"
								fill="none" />
						</defs>
						<g id="text-layer" transform="translate(60,70)">
							<g class="text-group" transform="rotate(-4, 430, 180)">
								<text class="line-1" font-size="50" font-weight="700" letter-spacing="0.6px" fill="#5F2675">
									<textPath href="#curvePath1" startOffset="52%" text-anchor="middle">
										Якість - ГАРАНТУЮ!
									</textPath>
								</text>
							</g>
						</g>
					</svg>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-2">
		<div class="section-wrapper section-2__wrapper">
			<div class="section-2__container">
				<div class="section-2__body">
					<div class="section-2__seed">
						<img class="ibg" src="@img/seed.png" width="182" height="204" alt="смугасте насіння сонячника">
					</div>
					<h2 class="section-2__title">
						У Сан Санича новинка — ВЕЛИЧЕЗНЕ смугасте насіння!
					</h2>
					<div class="section-2__cat">
						<picture>
							<source srcset="@img/cat/cat-pc.png" media="(min-width: 30.062em)" type="image/webp">
							<source srcset="@img/cat/cat-mb.png" type="image/webp">
							<img class="ibg"  src="@img/cat/cat-pc.png" width="617" height="532" alt="Веселий рудий кіт що танцює на поляні">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-3">
		<div class="section-wrapper section-3__wrapper">
			<div class="section-3__container">
				<div class="section-3__body">
					<div class="section-3__pack section-3__pack--1">
						<picture>
							<source srcset="@img/packs/pack-1-big-pc.png" media="(min-width: 30.062em)" type="image/webp">
							<source srcset="@img/packs/pack-1-mb.png" type="image/webp">
							<img class="ibg" src="@img/packs/pack-1-big-pc.png" width="369" height="446" alt="пачка сонячного насіння">
						</picture>
					</div>
					<div class="section-3__pack section-3__pack--2">
						<picture>
							<source srcset="@img/packs/pack-2-big-pc.png" media="(min-width: 30.062em)" type="image/webp">
							<source srcset="@img/packs/pack-2-mb.png" type="image/webp">
							<img class="ibg" src="@img/packs/pack-2-big-pc.png" width="369" height="446" alt="пачка сонячного насіння">
						</picture>
					</div>
					<div class="section-3__head">
						<h2 class="section-3__title">Скуштуй смугасте смажене та смугасте солоне насіння</h2>
						<div class="section-3__cat">
							<img class="ibg" src="@img/cat/cat-2.png" width="389" height="355" alt="Веселий рудий кіт що танцює на поляні">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-4">
		<div class="section-wrapper"></div>
	</section>
</main>